.nav {
  background-color: blueviolet;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  padding-top: 32px;
  padding-right: 20px;
}
.form {
  margin: 20px
}
.input {
  height: 20px;
  background-color: blueviolet;

}